{% extends 'layouts/base.html' %}
{% block title %} Feedback {% endblock %}

{% block content %}

<h1>Contact</h1>

<div class="form-wrapper">

    <form method="POST" action="#">

        <div class="form-group">
            {{ form.name.label }}
            {{ form.name(class="form-control")}}
        </div>

        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.body.label }}
            {{ form.body(class="form-control") }}
        </div>

        {{ form.submit(class="btn btn-default") }}

    </form>
</div>

{% endblock %}

{% block footer %} {% include 'layouts/footer.html' %} {% endblock %}